@model QuanLyKho.Models.DONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapDonHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTriDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTriDH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
