@model IEnumerable<QuanLyKho.Models.DONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index don hang</h2>


<a href="@Url.Action("Create","DONHANGs")" class="btn btn-outline-success" style="padding:6px 14px"><i class="fas fa-plus"></i></a>
<button id="deleteSelectedDH" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
<div class=" card-body">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th>Mã đơn hàng</th>
                <th>Khách hàng</th>
                <th>Địa chỉ</th>
                <th>SDT</th>
                <th>Ngày lập</th>
                <th>Thành tiền</th>
                <th>Chức năng</th>
            </tr>
        </thead>

        <tbody class="search">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaDH" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhachHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayLapDonHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaTriDH)
                    </td>
                    <td style="display:flex; border-bottom:0px">
                        <a href="@Url.Action("Edit","DONHANGs",new { id = item.MaDH})" class="btn btn-outline-dark">Sửa</a>
                        <a href="@Url.Action("Details","DONHANGs",new { id = item.MaDH })" class="btn btn-outline-info">Chi tiết</a>
                        <a href="@Url.Action("Delete","DONHANGs",new { id = item.MaDH })" class="btn btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>