@model QuanLyKho.Models.CTPHIEUXUATKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTPHIEUXUATKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEUXUATKHO.MaPXK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUXUATKHO.MaPXK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRIKHO.TenVTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRIKHO.TenVTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoviTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoviTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoiluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoiluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongXuat)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","CTPHIEUXUATKHOes",new { id = Model.MaPXK})" class="btn btn-outline-success" style="padding:8px">Sửa</a>
    <a href="@Url.Action("Index","CTPHIEUXUATKHOes")" class="btn btn-outline-success" style="padding: 8px">Trở về <i class="fas fa-arrow-circle-left"></i></a>
</p>
