@model IEnumerable<QuanLyKho.Models.CTPHIEUXUATKHO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index chi tiet phieu xuat kho</h2>

<a href="@Url.Action("Create","CTPHIEUXUATKHOes")" class="btn btn-outline-success" style="padding:6px 14px"><i class="fas fa-plus"></i></a>
<button id="deleteSelectedCTPXK" class="btn btn-outline-danger" style="position:fixed; margin-left:3px"><i class="fas fa-trash-alt"></i></button>
<div class="card-body">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th>Mã phiếu xuất kho</th>
                <th>Tên sản phẩm</th>
                <th>Vị trí</th>
                <th>Đơn vị tính</th>
                <th>Khối lượng</th>
                <th>Đơn giá</th>
                <th>Số lượng xuất</th>
                <th>chức năng</th>
            </tr>
        </thead>

        <tbody class="search">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaCTPXK" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PHIEUXUATKHO.MaPXK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VITRIKHO.MaVTK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonviTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhoiluongXuat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongXuat)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","CTPHIEUXUATKHOes",new { id = item.MaCTPXK})" class="btn btn-outline-dark">Sửa</a>
                        <a href="@Url.Action("Details","CTPHIEUXUATKHOes",new { id = item.MaCTPXK })" class="btn btn-outline-info">Chi tiết</a>
                        <a href="@Url.Action("Delete","CTPHIEUXUATKHOes",new { id = item.MaCTPXK })" class="btn btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>