@model QuanLyKho.Models.CTPHIEUNHAPKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTPHIEUNHAPKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEUNHAPKHO.MaPNK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUNHAPKHO.MaPNK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRIKHO.TenVTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRIKHO.TenVTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoviTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoviTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoiluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoiluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaN)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCTPNK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
