@model QuanLyKho.Models.CTPHIEUNHAPKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTPHIEUNHAPKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEUNHAPKHO.MaPNK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUNHAPKHO.MaPNK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRIKHO.TenVTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRIKHO.TenVTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonviTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonviTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoiluongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiluongNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaN)
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","CTPHIEUNHAPKHOes",new { id = Model.MaPNK})" class="btn btn-outline-success" >Sửa</a>
    <a href="@Url.Action("Index","CTPHIEUNHAPKHOes")" class="btn btn-outline-success">Trở về <i class="fas fa-arrow-circle-left"></i></a>
</p>
