@model QuanLyKho.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHOMSANPHAM.TenNhomSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHOMSANPHAM.TenNhomSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","SANPHAMs",new { id = Model.MaSP})" class="btn btn-outline-success">Sửa</a>
    <a href="@Url.Action("Index","SANPHAMs")" class="btn btn-outline-success">Trở về <i class="fas fa-arrow-circle-left"></i></a>
</p>
