@using QuanLyKho.Models
@model IEnumerable<QuanLyKho.Models.SANPHAM>

@helper Truncate(string input, int lenght) { 
    if(input.Length < lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0, lenght) <text>...</text>
    }
} 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index Sản phẩm</h2>

<a href="@Url.Action("Create","SANPHAMs")" class="btn btn-outline-success" style="padding: 6px 14px 6px 14px; margin-right:5px"><i class="fas fa-plus"></i></a>
<button id="deleteSelectedSP" class="btn btn-outline-danger" style="position:fixed"><i class="fas fa-trash-alt"></i></button>
<div class="card-body">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark center-block">
            <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th>Nhà cung cấp</th>
                <th>
                    <form method="get">
                        <div class="form-group">
                            <select name="nhomSP" class="form-control" onchange="this.form.submit()" style="width:129px">
                                <option value="">--Loại SP--</option>
                                <option value="Cà phê">Cà phê</option>
                                <option value="Gạo">Gạo</option>
                                <option value="Hàng dệt may">Hàng dệt may</option>
                                <option value="Thủy sản">Thủy sản</option>
                                <option value="Đồ chơi">Đồ chơi</option>
                                <option value="Các sản phẩm điện tử">Các sản phẩm điện tử</option>
                                <option value="Mỹ phẩm và sản phẩm chăm sóc sức khỏe">Mỹ phẩm và sản phẩm chăm sóc sức khỏe</option>
                            </select>
                        </div>
                    </form>
                    Nhóm sản phẩm
                </th>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>
                    <span>
                        Đơn giá
                        <span style="display:flex">
                            <a href="@Url.Action("Index", new { sortOrder = "asc-price" })"><i class="fas fa-arrow-up"></i></a>
                            <a href="@Url.Action("Index", new { sortOrder = "desc-price" })"><i class="fas fa-arrow-down"></i></a>
                        </span>
                    </span>
                </th>
                <th>Đơn vị tính</th>
                <th>
                    Số lượng tồn
                    <span>
                        <a href="#" id="sort-asc"><i class="fas fa-arrow-up"></i></a>
                        <a href="#" id="sort-desc"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </th>
                <th>Khối lượng</th>
                <th>Hình ảnh</th>
                <th>Chưc năng</th>
            </tr>
        </thead>

        <tbody class="search">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaSP" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHOMSANPHAM.TenNhomSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Truncate(item.Mota, 50)
                        <a href="@Url.Action("Details","SANPHAMs",new { id = item.MaSP })">Xem thêm</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonViTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongTon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhoiLuong)
                    </td>
                    <td>
                        <img src="~/images/@item.HinhAnh" style="width:50px" />
                    </td>
                    <td style="display:flex; border-bottom:0px">
                        <a href="@Url.Action("Edit","SANPHAMs",new { id = item.MaSP})" class="btn btn-outline-dark">Sửa</a> 
                        <a href="@Url.Action("Details","SANPHAMs",new { id = item.MaSP })" class="btn btn-outline-info">Chi tiết</a> 
                        <a href="@Url.Action("Delete","SANPHAMs",new { id = item.MaSP })" class="btn btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<div class="card-footer">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }

                .MenuTrang li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                }
        </style>
    </div>*@
@*    <div class="table">
        <div class="table-header">

            <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Nhà cung cấp</a></div>
            <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Nhóm sản phẩm </a></div>
            <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Sản phẩm</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Mô tảl</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Đơn giấ</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Đơn vị đo lường</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Số Lượng tồn kho</a></div>
            <div class="header__item"><a id="name" class="filter__link" href="#">Ảnh</a></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="table-content">
                <div class="table-row">
                    <div class="table-data"> @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.NHOMSANPHAM.TenNhomSP)</div>
                    <div class="table-data"> @Html.DisplayFor(modelItem => item.TenSP)</div>
                    <div class="table-data"> @Html.DisplayFor(modelItem => item.Mota)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.DonGia)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.DonViTinh)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.SoLuongTon)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.HinhAnh)</div>
                </div>
            </div>
        }
    </div>*@


