@using QuanLyKho.Models
@model IEnumerable<QuanLyKho.Models.SANPHAM>

@helper Truncate(string input, int lenght) { 
    if(input.Length < lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0, lenght) <text>...</text>
    }
} 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index Sản phẩm</h2>
<form method="get">
    <div id="custom-search" class="top-search-bar" style="margin:0 0 5px 0; display:flex">
        <input type="text" class="form-control" placeholder="Search.." name="searchString" fdprocessedid="cnbcuo" style="width:200px;margin-right:5px">
        <button type="submit" class="btn btn-primary">Tìm kiếm  <i class="fas fa-search"></i></button>
    </div>
</form>

<a href="@Url.Action("Create","SANPHAMs")" class="btn btn-sm btn-success" style="padding: 8px">Thêm</a>
<button id="deleteSelectedSP" class="btn btn-danger" style="position:fixed">Xóa các mục đã chọn</button>
<div class="card-body">
    <table class="table table-bordered">
        <tr>
            <th><input type="checkbox" id="checkAll" /></th>
            <th>Nhà cung cấp</th>
            <th>
                <form method="get">
                    <div class="form-group">
                        <label>Nhóm sản phẩm:</label>
                        <select name="nhomSP" class="form-control" onchange="this.form.submit()" style="width:129px">
                            <option value="">--Loại SP--</option>
                            <option value="Cà phê">Cà phê</option>
                            <option value="Gạo">Gạo</option>
                            <option value="Hàng dệt may">Hàng dệt may</option>
                        </select>
                    </div>
                </form>
            </th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>
                <span>
                    Đơn giá
                    <a href="@Url.Action("Index", new { sortOrder = "asc-price" })"><i class="fas fa-arrow-up"></i></a>
                    <a href="@Url.Action("Index", new { sortOrder = "desc-price" })"><i class="fas fa-arrow-down"></i></a>
                </span>
            </th>
            <th>Đơn vị tính</th>
            <th>
                Số lượng tồn
                <span>
                    <a href="" id="sort-asc"><i class="fas fa-arrow-up"></i></a>
                    <a href="#" id="sort-desc"><i class="fas fa-arrow-down"></i></a>
                </span>
            </th>
            <th>Khối lượng</th>
            <th>Hình ảnh</th>
            <th>Chưc năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaSP" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHOMSANPHAM.TenNhomSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Truncate(item.Mota, 50)
                    <a href="@Url.Action("Details","SANPHAMs",new { id = item.MaSP })">Xem thêm</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonViTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhoiLuong)
                </td>
                <td>
                    <img src="~/images/@item.HinhAnh" style="width:50px" />
                </td>
                <td>
                    <a href="@Url.Action("Edit","SANPHAMs",new { id = item.MaSP})" class="btn btn-sm btn-success">Sửa</a>
                    <a href="@Url.Action("Details","SANPHAMs",new { id = item.MaSP })" class="btn btn-sm btn-info">Chi tiết</a>
                    <a href="@Url.Action("Delete","SANPHAMs",new { id = item.MaSP })" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }

    </table>
</div>
@*<div class="card-footer">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }

                .MenuTrang li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                }
        </style>
    </div>*@
@*    <div class="table">
        <div class="table-header">

            <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Nhà cung cấp</a></div>
            <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Nhóm sản phẩm </a></div>
            <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Sản phẩm</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Mô tảl</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Đơn giấ</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Đơn vị đo lường</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Số Lượng tồn kho</a></div>
            <div class="header__item"><a id="name" class="filter__link" href="#">Ảnh</a></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="table-content">
                <div class="table-row">
                    <div class="table-data"> @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.NHOMSANPHAM.TenNhomSP)</div>
                    <div class="table-data"> @Html.DisplayFor(modelItem => item.TenSP)</div>
                    <div class="table-data"> @Html.DisplayFor(modelItem => item.Mota)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.DonGia)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.DonViTinh)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.SoLuongTon)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.HinhAnh)</div>
                </div>
            </div>
        }
    </div>*@


