@model QuanLyKho.Models.VITRISP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VITRISP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRIKHO.TenVTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRIKHO.TenVTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","VITRISPs",new { id = Model.MaSP})" class="btn btn-sm btn-success" style="padding:8px">Sửa</a>
    <a href="@Url.Action("Index","VITRISPs")" class="btn btn-sm btn-success" style="padding: 8px">Trở về <i class="fas fa-arrow-circle-left"></i></a>
</p>
