@model IEnumerable<QuanLyKho.Models.PHIEUNHAPKHO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index phieu nhap kho</h2>

<a href="@Url.Action("Create","PHIEUNHAPKHOes")" class="btn btn-sm btn-success" style="padding:8px">Thêm</a>
<button id="deleteSelectedPNK" class="btn btn-danger">Xóa các mục đã chọn</button>
<div class="card-body">
    <table class="table table-bordered">
        <tr>
            <th><input type="checkbox" id="checkAll" /></th>
            <th>Mã Phiếu</th>
            <th>Nhà cung cấp:</th>
            <th>Ngày nhập:</th>
            <th>Tổng tiền</th>
            <th>Tổng số lượng nhập</th>
            <th>Chức năng</th>
        </tr>

        <tbody class="search">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaPNK" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaPNK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongTien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongSPNhapKho)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","PHIEUNHAPKHOes",new { id = item.MaPNK})" class="btn btn-sm btn-success">Sửa</a>
                        <a href="@Url.Action("Details","PHIEUNHAPKHOes",new { id = item.MaPNK })" class="btn btn-sm btn-info">Chi tiết</a>
                        <a href="@Url.Action("Delete","PHIEUNHAPKHOes",new { id = item.MaPNK })" class="btn btn-sm btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>