@model IEnumerable<QuanLyKho.Models.PHIEUNHAPKHO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index phieu nhap kho</h2>

<a href="@Url.Action("Create","PHIEUNHAPKHOes")" class="btn btn-outline-success" style="padding:6px 14px"><i class="fas fa-plus"></i></a>
<button id="deleteSelectedPNK" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
<div class="card-body">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th>Mã Phiếu</th>
                <th>Ngày nhập:</th>
                <th>Tổng tiền</th>
                <th>Chức năng</th>
            </tr>
        </thead>

        <tbody class="search" style="font-size:13px">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaPNK" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaPNK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongGTNhap)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","PHIEUNHAPKHOes",new { id = item.MaPNK})" class="btn btn-outline-dark">Sửa</a>
                        <a href="@Url.Action("Details","PHIEUNHAPKHOes",new { id = item.MaPNK })" class="btn btn-outline-info">Chi tiết</a>
                        <a href="@Url.Action("Delete","PHIEUNHAPKHOes",new { id = item.MaPNK })" class="btn btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>