@model IEnumerable<QuanLyKho.Models.NHOMSANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index nhóm sản phẩm</h2>

<a href="@Url.Action("Create","NHOMSANPHAMs")" class="btn btn-outline-success"><i class="fas fa-plus"></i></a>
<button id="deleteSelectedNSP" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
<div class="card-body">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th> Nhóm sản phẩm </th>
                <th>Mô tả</th>
                <th>Chưc năng</th>
            </tr>
        </thead>

        <tbody class="search" style="font-size:13px">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><input type="checkbox" class="checkbox" value="@item.MaNhomSP" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNhomSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mota)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","NHOMSANPHAMs",new { id = item.MaNhomSP})" class="btn btn-outline-dark">Sửa</a>
                        <a href="@Url.Action("Details","NHOMSANPHAMs",new { id = item.MaNhomSP })" class="btn btn-outline-info">Chi tiết</a>
                        <a href="@Url.Action("Delete","NHOMSANPHAMs",new { id = item.MaNhomSP })" class="btn btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>