@model QuanLyKho.Models.KHOHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHOHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhohang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhohang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTKho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTKho)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","KHOHANGs",new { id = Model.MaKhoHang})" class="btn btn-outline-success">Sửa</a>
    <a href="@Url.Action("Index","KHOHANGs")" class="btn btn-outline-success">Trở về <i class="fas fa-arrow-circle-left"></i></a>
</p>
