@model QuanLyKho.Models.PHIEUXUATKHO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PHIEUXUATKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongGTXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongGTXuat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-danger" style="margin-right:8px" />
            <a href="@Url.Action("Index","PHIEUXUATKHOes")" class="btn btn-outline-success">Trở về <i class="fas fa-arrow-circle-left"></i></a>
        </div>
    }
</div>
