@model QuanLyKho.Models.PHIEUXUATKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHIEUXUATKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongGTXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongGTXuat)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","PHIEUXUATKHOes",new { id = Model.MaPXK})" class="btn btn-sm btn-success" style="padding:8px">Sửa</a>
    <a href="@Url.Action("Index","PHIEUXUATKHOes")" class="btn btn-sm btn-success" style="padding: 8px">Trở về <i class="fas fa-arrow-circle-left"></i></a>
</p>
